<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <link rel="stylesheet" href="style.css">
  <title>Blog-Vue</title>
</head>
<body>

  <h1>Welcome to my blog!</h1>

  <div id="blog-posts">
    <blog-post
    v-for='post in posts'
    v-bind:blogpost='post'
    ></blog-post>
  </div>

  <div id="postCreation">
    <h2>Make a new post</h2>
    <input v-model='title' ><br>
    <input v-model='author' ><br>
    <input v-model='date' ><br>
    <input v-model='content' ><br>
    <button v-on:click='publishPost'>Publish</button>
  </div>

  <script>
    Vue.component('blog-post', {
      props: ['blogpost'],
      template: `<div id="post">
                    <h2> {{ blogpost.title }}</h2 >
                    <h3>{{ blogpost.author }}</h3>
                    <h4>{{ blogpost.date }}</h4>
                    <p>{{ blogpost.content }}</p>
                 </div >`,
    })

    var blogVue = new Vue({
      el: '#blog-posts',
      data: {
        posts: [
          {
            title: 'First Post',
            author: 'Cam',
            date: 'Sept 3, 2020',
            content: 'This is the content.'
          },
          {
            title: 'Second Post',
            author: 'Cam',
            date: 'Sept 4, 2020',
            content: 'This is some other content.'
          },
        ]
      }
    })

    var createPostVue = new Vue({
      el: '#postCreation',
      data: {
        title: '',
        author: '',
        date: '',
        content: '',
      },
      methods: {
        publishPost: function() {
          var postData = {
            title: this.title,
            author: this.author,
            date: this.date,
            content: this.content,
          }
          blogVue.posts.push(postData)
          this.title = '',
          this.author = '',
          this.date = '', 
          this.content = ''
        }
      }
    })
  </script>

</body>
</html>