
html, body {
  padding: 10px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

#blog-posts {
  margin: 0 auto;
  max-width: 50%;
}

#post {
  border: 2px solid gray;
  padding: 10px;
  margin-bottom: 30px;;
}

#postCreation {
  margin: 0 auto;
  max-width: 50%;
  text-align: center;
  border: 2px solid gray;
}

#postCreation > * {
  margin: 10px;
}

